[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"music21" = "*"
pandas = "*"
scipy = "*"
tqdm = "*"
matplotlib = "*"
palettable = "*"

[dev-packages]
versioneer = "*"
pre-commit = "*"
chantstats = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
ipdb = "*"
sh = "*"
approvaltests = "*"

[requires]
python_version = "3.7"
